<template name="mapLayout">
    <core-header-panel>

        <header class="core-header" horizontal layout>
            <h1 flex self-center>Startup Map</h1> {{> userNav}}
        </header>

        <main class="content" vertical layout fit>
            {{> yield }}
            {{> mapFilter }}

        </main>
    </core-header-panel>
</template>

<template name="map">
    <section id="map" flex></section>
</template>

<template name="mapinfo">
    <div class="mapinfo">
        <h2 class="ui dividing header">{{name}}</h2>
        <div class="ui small ribbon {{labelColor key='type' value=type}} label">{{type}}</div>
        <span>Industry: <a href="" class="ui category {{labelColor key='industry' value=industry}}">{{industry}}</a></span>
        <div class="ui list {{labelColor key='type' value=type}} category">
            <div class="item">{{location}}</div>
            <div class="item"><a href="{{website}}"><i class="external link icon"></i>{{website}}</a>
            </div>
        </div>
        {{#if description}}
        <div class="ui divider"></div>
        <div class="description">
            {{#markdown}}{{description}}{{/markdown}}
        </div>
        {{/if}}
    </div>
</template>
