<template name="mapLayout">
    <core-header-panel>

        <header class="core-header" horizontal layout>
            <h1 flex self-center>Startup Map</h1> {{> userNav}}
        </header>

        <main class="content" horizontal layout fit>

            {{> mapFilter }}

            {{> yield }}

        </main>
    </core-header-panel>
</template>

<template name="map">
    <section id="map" flex></section>
</template>

<template name="infoWindow">
    <div class="info-window ui {{labelColor key='type' value=type}} category">
        <paper-shadow z="2">
            <div class="ui segment" vertical layout>
                <header>
                    <div class="ui {{labelColor key='type' value=type}} right large label">{{_ type}}</div>
                    <h2 class="ui dividing header">{{name}}</h2>
                    <div class="ui list category {{labelColor key='type' value=type}}"  horizontal layout>

                        <div flex>
                            <div class="item">{{{transformListString string=location delimiter=',' append='<br>'}}}</div>

                            {{#if website}}
                            <div class="item"><a href="{{website}}" target="blank"><i class="external link icon"></i>{{removeProtocol website}}</a></div>
                            {{/if}}
                        </div>

                        <div class="right">
                            <div class="item">{{_ 'map.industry'}}: <a href="">{{concatList industry}}</a></div>

                            {{#if dateFounded}}
                            <div class="item">
                            {{_ 'map.Founded'}}: {{dateFormat date=dateFounded format='YYYY'}}
                            </div>
                            {{/if}}
                        </div>

                    </div>
                </header>
                {{#if description}}
                <div class="ui divider"></div>
                <div class="description" flex>
                    {{#markdown}}{{description}}{{/markdown}}
                </div>
                {{/if}}
            </div>
        </paper-shadow>
    </div>
</template>

<template name="infoPopup">
    <div class="ui header">{{name}}</div>
    <div class="content">{{_ 'map.industry'}}: {{concatList industry}}</div>
</template>
