#map-filter {

    height: 100%;
    z-index: 1;
    box-shadow: 1px 0px 3px -1px rgba(0,0,0,.5);

    width: 33%;
    max-width: 20em;

    .scroll {
        height: 100%;
        overflow: scroll;
    }

    .ui.accordion {

        border-radius: 0;

        .header {
            margin: 0.3em 0;
            margin-right: 1em;
        }
    }
}

#map .info-window {
	width: 48em;
	height: 100%;
	max-width: 60%;
	padding: 1em 0 3em 1em;
	box-sizing: border-box;

	paper-shadow {
		height: 100%;
	}

	header {
		> h2 {
			margin-top: 0;
		}
		
		.ui.right.label {
			float: right;
		}
	}

	.ui.segment {
		height: 100%;
		box-sizing: border-box;
	}

	.description {
		overflow: auto;

		> *:first-child {
			margin-top: 0;
		}
	}
}