@import "semantic.less";

html, body {
    height: 100%;
    margin: 0;
}

core-header-panel {
    height: 100%;
    
    >header {
        padding: 1rem;

        z-index: 3;
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,.8);
        
        h1 {
            margin: 0;
        }
    }

    >main {
        position: relative;
    }

    >footer {

    }
}

@rounded-corner: {
    border-radius: .25rem;
};

#map-filter {

    height: 100%;
    z-index: 1;
    box-shadow: 1px 0px 3px -1px rgba(0,0,0,.5);

    width: 33%;
    max-width: 20em;

    .scroll {
        height: 100%;
        overflow: scroll;
    }

    .ui.accordion {

        border-radius: 0;

        .header {
            margin: 0.3em 0;
            margin-right: 1em;
        }
    }
}

.container {
    margin: 2rem;
}

section#startups.list {
    .item .description {
        min-height: rem;
    }
}

.ui.form .field > label {
    text-transform: capitalize;
}
.ui.form input[type="text"] {
    
}
.ui.form .fields.half-space {
    margin-top: 3.2em;
}