<template name="map">

    <section id="map" flex></section>

    <section id="map-filter">

        <nav class="ui styled fluid accordion">
            <paper-shadow z="2" style="height: 100%;">
                <div class="title">
                    <i class="dropdown icon"></i> Branchen
                </div>
                <div class="content ui vertical menu">
                    <a class="item" href="">Internet</a>
                    <a class="item" href="">Lebensmittel</a>
                    <a class="item" href="">Technologie</a>
                </div>
                <div class="active title">
                    <i class="dropdown icon"></i> Unternehmensgröße
                </div>
                <div class="active content ui vertical menu">
                    <a class="item" href="">1 - 10</a>
                    <a class="item" href="">10 - 25</a>
                    <a class="item" href="">25 - 100</a>
                </div>
            </paper-shadow>
        </nav>

    </section>

</template>
