<template name="adminLayout">
    <core-header-panel vertical layout fit>

        <header class="core-header" horizontal layout>
            <h1 flex self-center>Startup Map</h1> {{> userNav}}
        </header>

        <div class="content" vertical layout>

            <main flex>
                {{> yield}}
            </main>

        </div>

    </core-header-panel>
</template>

<!-- general template -->

<template name="admin">

    {{> Template.dynamic template="editstartup" data=edit}} 
    {{> Template.dynamic template="removestartup" data=remove}}

    <div class="container">
        <div horizontal layout>
            <h2 flex>Admin</h2>
            <button id="edit-startup" class="ui green button" self-center>
                <i class="plus icon"></i> Add Startup</button>
        </div>

        <section id="startups" class="ui big very relaxed celled selection list">
            {{#each list }} {{> startup}} {{/each}}
        </section>
    </div>
</template>

<!-- single startup in the list -->

<template name="startup">
    <div class="item" data-id="{{_id}}">
        <button class="right floated compact ui icon basic red button remove-startup">
            <i class="trash icon"></i> Remove
        </button>
        <i class="big map marker icon"></i>
        <div class="content">
            <div class="header">{{name}}</div>
            <div class="description">
                {{#if website}}
                <small>{{website}}</small>
                <br> 
                {{/if}} 
                {{#if location}}
                <small>{{location}}</small>
                <br> 
                {{/if}}
            </div>
        </div>
    </div>
</template>

<!-- edit modal form -->

<template name="editstartup">
    <form class="ui modal form" id="editstartup">

        <i class="close icon"></i>

        <div class="header">
            Add Entry
        </div>

        <div class="content">
            <div class="ui grid">
                <div class="six wide column">
                    <img class="ui medium image" src="/images/image.png" />
                </div>

                <div class="ten wide column">
                    <div class="two fields">
                        <div class="field">
                            <label>{{_ 'admin.startup.Name'}}</label>
                            <input type="text" name="name" placeholder="{{_ 'admin.startup.placeholder.name'}}" />
                        </div>
                        <div class="field">
                            <label>{{_ 'admin.startup.Website'}}</label>
                            <input type="text" name="website" placeholder="{{_ 'admin.startup.placeholder.website'}}">
                        </div>
                    </div>

                    <div class="two fields">
                        <div class="field">
                            <label>{{_ 'admin.startup.Location'}}</label>
                            <input type="text" name="location" placeholder="{{_ 'admin.startup.placeholder.location'}}" autocomplete="off" spellcheck="off" data-template="suggestion" />
                        </div>
                        <div class="field">
                            <label>{{_ 'admin.startup.Type'}}</label>
                            <select name="type" class="ui search dropdown" autocomplete="off">
                                <option value="">{{_ 'admin.startup.placeholder.type'}}</option>
                                <option value="startup">Startup</option>
                                <option value="coworking">Coworking</option>
                                <option value="investor">Investor</option>
                                <option value="service">Service</option>
                                <option value="community">Community</option>
                            </select>
                        </div>
                    </div>

                    <div class="field">
                        <label>{{_ "admin.startup.Industry"}}
                        <small><i>(Comma separated list)</i></small></label>
                        <input type="text" name="industry" placeholder="{{_ 'admin.startup.placeholder.industry'}}">
                    </div>
                </div>
            </div>

            <div class="ui divider"></div>

            <div class="three fields">
                <div class="field">
                    <label>{{_ 'admin.startup.Company'}}</label>
                    <input type="text" name="company" placeholder="{{_ 'admin.startup.placeholder.company'}}" />
                </div>
                <div class="field">
                    <label>{{_ 'admin.startup.Date_founded'}}</label>
                    <input type="text" name="dateFounded" placeholder="{{_ 'admin.startup.placeholder.date_founded'}}">
                </div>
                <div class="field">
                    <label>{{_ 'admin.startup.Head_count'}}</label>
                    <input type="text" name="headcount" placeholder="{{_ 'admin.startup.placeholder.head_count'}}">
                </div>
            </div>

            <div class="ui divider"></div>

            <div class="two fields">
                <div class="eleven wide field">
                    <div class="field">
                        <label>{{_ 'admin.startup.Video_link'}}</label>
                        <input type="text" name="video" placeholder="{{_ 'admin.startup.placeholder.video_link'}}">
                    </div>

                </div>

                <div class="five wide field">
                    <div class="field">
                        <label>{{_ 'admin.startup.Social_links'}}</label>
                        <input type="text" name="socialFacebook" placeholder="Facebook">
                    </div>
                    <div class="field">
                        <input type="text" name="socialGplus" placeholder="Google+">
                    </div>
                    <div class="field">
                        <input type="text" name="socialTwitter" placeholder="Twitter">
                    </div>
                </div>
            </div>

            <div class="field">
                <label>{{_ 'admin.startup.Description'}}</label>
                <textarea name="description"></textarea>
            </div>

        </div>

        <div class="actions">
            <div class="ui large cancel button">{{_ 'Cancel'}}</div>
            <div class="ui large positive right labeled icon submit button">
                {{_ 'Save'}}
                <i class="checkmark icon"></i>
            </div>
        </div>
    </form>
</template>

<!-- remove modal -->

<template name="removestartup">

    <div class="ui basic modal" id="removestartup">
        <i class="close icon"></i>
        <div class="header">
            Please confirm
        </div>
        <div class="content">
            <div class="image">
                <i class="trash icon"></i>
            </div>
            <div class="description">
                <p>Are you sure about deleting "{{name}}" with all it's related content?</p>
                <p>
                    <span class="ui red horizontal label">Careful!</span> You will not be able to undo this action!
                </p>
            </div>
        </div>
        <div class="actions">
            <div class="two fluid ui inverted buttons">
                <div class="ui red basic inverted negative button">
                    <i class="remove icon"></i> No
                </div>
                <div class="ui green basic inverted positive button">
                    <i class="checkmark icon"></i> Yes
                </div>
            </div>
        </div>
    </div>

</template>
