<template name="userNav">
    <nav self-center>
        {{#if userId}}

            {{> userAdminButton}}

            <button class="ui basic black button logout">
                Logout
            </button>

        {{else}}

        <button class="ui basic black login button {{loginDisabled}}">Login</button>

        <button class="ui right labeled icon positive button {{loginDisabled}}" disabled>
            <i class="right sign in icon"></i> Sign Up
        </button>

        {{/if}}
    </nav>
</template>

<template name="userAdminButton">
    {{#if isAdmin}}
    <a class="ui icon button" href="/">
        <i class="remove icon"></i> Leave Admin-Area
    </a>
    {{else}}
    <a class="ui icon button" href="/admin">
        <i class="setting icon"></i> Admin-Area
    </a>
    {{/if}}
</template>